<section>
  <section id="booking" class="py-5">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="booking-cta">
              <h1>Discover the world</h1>
              <p>Book your dream trip, with us your dream takes shape</p>
            </div>
          </div>

          <div class="col-md-7 col-md-offset-1">
            <div class="booking-form">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flying from</span>
                      <select class="form-control" [(ngModel)]="departure" [ngModelOptions]="{standalone: true}">
                        <option [ngValue]="exaple">exaple</option>
                        <option *ngFor="let airport of airports" [ngValue]="airport.name">{{airport.name}}</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Flyning to</span>
                      <select class="form-control" [(ngModel)]="destination" [ngModelOptions]="{standalone: true}">
                        <option [ngValue]="exaple">exaple</option>
                        <option *ngFor="let airport of airports" [ngValue]="airport.name">{{airport.name}}</option>

                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Check In</span>
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="checkIn"
                        type="date" required />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Check Out</span>
                      <input class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="checkOut"
                        type="date" required />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Adults (18+)</span>
                      <select class="form-control" [(ngModel)]="numSeats" [ngModelOptions]="{standalone: true}">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>

                <div class="form-btn">
                  <input type="button" value="Show flights" class="submit-btn" routerLink="/prenotation"
                    routerLinkActive="active" (click)="showBookings = false" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>