<table class="table">
  <thead>
    <tr class="tr-user">
      <th scope="col">
        <img
          src="https://img.icons8.com/material-rounded/50/000000/id-verified.png"
        />Id
      </th>
      <th scope="col">
        <img
          src="https://img.icons8.com/material-rounded/50/000000/name.png"
        />Username
      </th>
      <th scope="col">
        <img
          src="https://img.icons8.com/material-rounded/50/000000/user.png"
        />Name
      </th>
      <th scope="col">
        <img
          src="https://img.icons8.com/material-rounded/50/000000/user.png"
        />Surname
      </th>
      <th scope="col">
        <img src="https://img.icons8.com/metro/50/000000/ticket.png" />Tickets
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="users" *ngFor="let users of usersList">
      <a href="app-users/{{ users._id }}">
        <td>{{ users._id }}</td>
      </a>
      <td>{{ users.username }}</td>
      <td>{{ users.name }}</td>
      <td>{{ users.surname }}</td>
      <td>{{ users.tickets }}</td>
    </tr>
  </tbody>
</table>
