<footer class="pt-5 pb-4">
  <div class="container">
    <div class="row text-light">
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 id="about" class="mb-4 font-weight-bold">ABOUT US</h5>
        <p class="mb-4">Contact us when and how you want</p>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fas fa-map-marker"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Address:</h6>
                <p>Catania</p>
                <p>Viale della Libertà,25</p>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="far fa-envelope"></i></div>
              <div class="col-10">
                <h6 class="font-weight-bold mb-0">Have any questions?</h6>
                <p><a href="#">sjairlines@gmail.com</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">FRESH TWEETS</h5>
        <ul class="f-address">
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">
                  @realTravel Amazing services!
                </p>
                <label>10 Mins Ago</label>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">
                  @Ryanair_official wow! good job
                </p>
                <label>10 Mins Ago</label>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">
                  @AlitaliaOfficial Come on with us!
                </p>
                <label>10 Mins Ago</label>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">
                  @Ryanair_official wow! good job
                </p>
                <label>10 Mins Ago</label>
              </div>
            </div>
          </li>
          <li>
            <div class="row">
              <div class="col-1"><i class="fab fa-twitter"></i></div>
              <div class="col-10">
                <p class="mb-0">
                  @AlitaliaOfficial Come on with us!
                </p>
                <label>10 Mins Ago</label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">LATEST UPDATES</h5>
        <ul class="recent-post">
          <li>
            <label class="mr-3">28 <br /><span>APR</span></label>
            <span>Don't miss out on the latest tickets</span>
          </li>
          <li>
            <label class="mr-3">05 <br /><span>NOV</span></label>
            <span> See the new travel offers made just for you.</span>
          </li>
          <li>
            <label class="mr-3">13 <br /><span>DEC</span></label>
            <span> Make Christmas even more beautiful with us.</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 mt-2 mb-4">
        <h5 class="mb-4 font-weight-bold">CONNECT WITH US</h5>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Your Email Address" />
          <span class="input-group-addon" id="basic-addon2">
                <i class="fas fa-check"></i>
              </span>
        </div>
      </div>
    </div>
  </div>
</footer>