<!--TABLE-->
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table">
        <div class="row header">
          <div class="cell">
            Departure
            <img
              src="https://img.icons8.com/officel/30/000000/airplane-take-off.png"
            />
          </div>
          <div class="cell">
            Destination
            <img
              src="https://img.icons8.com/officel/30/000000/airplane-landing.png"
            />
          </div>
          <div class="cell">
            Time
            <img
              src="https://img.icons8.com/officel/30/000000/empty-hourglass.png"
            />
          </div>
          <div class="cell">
            Price
            <img
              src="https://img.icons8.com/office/30/000000/price-tag-euro.png"
            />
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            MILANO
          </div>
          <div class="cell" data-title="Destination">
            AMSTERDAM
          </div>
          <div class="cell" data-title="Time">
            1h : 55m
          </div>
          <div class="cell" data-title="Price">
            26.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            CATANIA
          </div>
          <div class="cell" data-title="Destination">
            LONDRA
          </div>
          <div class="cell" data-title="Time">
            3h : 20m
          </div>
          <div class="cell" data-title="Price">
            32.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            ROMA
          </div>
          <div class="cell" data-title="Destination">
            PARIGI
          </div>
          <div class="cell" data-title="Time">
            2h : 10m
          </div>
          <div class="cell" data-title="Price">
            45.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            MOSCA
          </div>
          <div class="cell" data-title="Destination">
            ZURIGO
          </div>
          <div class="cell" data-title="Time">
            3h : 45m
          </div>
          <div class="cell" data-title="Price">
            27.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            PALERMO
          </div>
          <div class="cell" data-title="Destination">
            ROMA
          </div>
          <div class="cell" data-title="Time">
            1h : 15m
          </div>
          <div class="cell" data-title="Price">
            15.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            CAGLIARI
          </div>
          <div class="cell" data-title="Destination">
            CUNEO
          </div>
          <div class="cell" data-title="Time">
            1h : 25m
          </div>
          <div class="cell" data-title="Price">
            20.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            MEXICO CITY
          </div>
          <div class="cell" data-title="Destination">
            BARCELLONA
          </div>
          <div class="cell" data-title="Time">
            10h : 45m
          </div>
          <div class="cell" data-title="Price">
            46.00€
          </div>
        </div>

        <div class="row">
          <div class="cell" data-title="Departure">
            EDIMBURGO
          </div>
          <div class="cell" data-title="Destination">
            TENERIFE
          </div>
          <div class="cell" data-title="Time">
            4h : 50m
          </div>
          <div class="cell" data-title="Price">
            37.00€
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END TABLE-->
