<app-navbar (adminswitcher)="setAdminMode($event)"></app-navbar>

<ng-container *ngIf="!adminModeIsOn">

  <booking-form></booking-form>

  <!--SEPARATOR-->
  <div class="separator">
    <div class="separator2">
      <div class="text-div">
        <h2 class="h2-separator">OUR DESTINATIONS</h2>
        <h4 class="h4-separator">
          Choose the best places for you and your family
        </h4>
      </div>
    </div>
  </div>
  <!--END SEPARATOR-->

  <!---CARD-->
  <section class="details-card">
    <div class="container">
      <h1 id="text-pre-card">TOP 3 PLACES VISITED</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card-content">
            <div class="card-img">
              <img src="https://i.pinimg.com/originals/7c/c3/69/7cc369a6e592e4c123b77de7fae305e5.jpg" alt="" />
            </div>
            <div class="card-desc">
              <h3 id="text-card">Barcelona</h3>
              <p id="text-card">
                Barcellona is a city of Spain of 1.620.343 inhabitants, capital of Catalonia, an autonomous community in the eastern part of the state..
              </p>
              <a href="https://it.wikipedia.org/wiki/Barcellona" class="btn-card">Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img src="https://www.ubackground.com/_ph/7/181701872.jpg" alt="" />
          </div>
          <div class="card-desc">
            <h3 id="text-card">Florence</h3>
            <p id="text-card">
              Florence is an Italian town of 379.194 inhabitants, the capital of
              Tuscany and the center of the metropolitan city with a population
              of 1.011.349 in habitants..
            </p>
            <a href="https://it.wikipedia.org/wiki/Firenze" class="btn-card"
              >Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://image.winudf.com/v2/image1/Y29tLmFwcDNkd2FsbHBhcGVyaGQubmV3eW9ya3dhbGxwYXBlcl9zY3JlZW5fMF8xNTY3MDE0NzQ0XzAyMw/screen-0.jpg?fakeurl=1&type=.jpg"
              alt=""
            />
          </div>
          <div class="card-desc">
            <h3 id="text-card">New York</h3>
            <p>
              New York is a city in the United States of America. Also known
              worldwide as the "Big Apple". It is located in the state of the
              same name and stands..
            </p>
            <a href="https://it.wikipedia.org/wiki/New_York" class="btn-card"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END CARD-->

</ng-container>

<ng-container *ngIf="adminModeIsOn">
  <app-backoff></app-backoff>
</ng-container>

<app-footer></app-footer>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="text-center text-white">
          &copy; 2020 SJAirlines. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</div>